/******************************************************************************/
#footer
{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:#eb5d1e;
    color:white;
    text-align:center;
}


/******************************************************************************/
.email { color:white;}
.email:hover { color:yellow;}


/******************************************************************************/
.inter-para-gap
{
    padding-bottom:25px;
}


/******************************************************************************/
.left
{
    text-align:left;
}
